<p id="notice"><%= notice %></p>

<h1>Consensus Mechanisms</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @consensus_mechanisms.human_attribute_name(:description) %></th>
      <th><%= @consensus_mechanisms.human_attribute_name(:acronym) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consensus_mechanisms.each do |consensus_mechanism| %>
      <tr>
        <td><%= consensus_mechanism.description %></td>
        <td><%= consensus_mechanism.acronym %></td>
        <td><%= link_to t('links.show'), consensus_mechanism, class:"btn btn-outline-dark" %></td>
        <td><%= link_to t('links.edit'), edit_consensus_mechanism_path(consensus_mechanism), class:"btn btn-outline-dark" %></td>
        <td><%= link_to t('links.destroy'), consensus_mechanism, method: :delete, data: { confirm: t('confirm') }, class:"btn btn-outline-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new_consensus_mechanism'), new_consensus_mechanism_path, class:"btn btn-dark" %>

<p><%= link_to t('links.home'), welcome_index_path %></p>
