<p id="notice"><%= notice %></p>

<h1>Consensus Mechanisms</h1>

<table>
  <thead>
    <tr>
      <th><%= @consensus_mechanisms.human_attribute_name(:description) %></th>
      <th><%= @consensus_mechanisms.human_attribute_name(:acronym) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consensus_mechanisms.each do |consensus_mechanism| %>
      <tr>
        <td><%= consensus_mechanism.description %></td>
        <td><%= consensus_mechanism.acronym %></td>
        <td><%= link_to t('links.show'), consensus_mechanism %></td>
        <td><%= link_to t('links.edit'), edit_consensus_mechanism_path(consensus_mechanism) %></td>
        <td><%= link_to t('links.destroy'), consensus_mechanism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new_consensus_mechanism'), new_consensus_mechanism_path %>

<p> <%= link_to t('links.home'), welcome_index_path %> </p>
