<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @consensus_mechanism.description %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @consensus_mechanism.acronym %>
</p>

<%= link_to 'Edit', edit_consensus_mechanism_path(@consensus_mechanism), class:"btn btn-dark" %> |
<%= link_to 'Back', consensus_mechanisms_path, class:"btn btn-dark" %>