<p> 
  <%= link_to 'Português', root_path(locale: 'pt-BR') %> 
</p>

<p> 
  <%= link_to 'English', root_path(locale: 'en') %> 
</p>

<h1>Welcome#index</h1>

<p>Crypto Wallet</p>

<p> <%= l(Date.today) %> </p>

<p> Local language: <strong> <%= I18n.locale %> </strong> </p>

<p> <%= t('hello') %> </p>

<%= render 'menu' %>

<p>
  <strong> <%= Rails.env %> </strong> environment
</p>

<p>
  Variável de instância com query params => <strong> <%= @name %> </strong>
</p>